@import "variables.scss";

.header-logo--tablet,
.header-logo--desktop {
    display: none;
}

.main-header__header-logo {
    order: 2;
}

@media (min-width: $tablet-width) {
    .header-logo--mobile,
    .header-logo--desktop {
        display: none;
    }

    .header-logo--tablet {
        display: block;
    }

    .main-header__header-logo {
        order: 0;
    }
}

@media (min-width: $desktop-width) {
    .header-logo--mobile,
    .header-logo--tablet {
        display: none;
    }

    .header-logo--desktop {
        display: block;
    }

    .main-header__header-logo {
        order: 0;
    }
}